header {
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.637);
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.475);
}
body {
    background-image: url('https://t4.ftcdn.net/jpg/06/30/76/11/360_F_630761173_Hkeqf7J3DYfICjQQaMkTiSpCOK7XOq1q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
#logoimg {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    vertical-align: middle;
    padding: 5px;

}

#navbar a {
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: #333;
}
#Courses-content {
    background-color: rgba(255, 255, 255, 0.514);
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.co1, .co2, .co3, .co4, .co5, .co6, .co7, .co8  {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 20px;
    margin-top: 10px ;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
.co1:hover, .co2:hover, .co3:hover, .co4:hover, .co5:hover, .co6:hover, .co7:hover, .co8:hover {
    background-color: rgba(150, 150, 150, 0.7);
    transform: scale(1.02);
    transition: transform 0.3s, background-color 0.3s;
}

#Courses-content img{
    padding: 20px;
    border-radius: 15px;
    max-width: 100%;
    border: none;
}
#Courses-content img:hover {
    transform: scale(1.25);
    transition: transform 0.3s;
    
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.637);
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 20px 20px 0 0;
    font-size: 18px;
    color: #555;
    font-weight: bolder;
}

