header {
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.637);
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.475);
}

body {
    background-image: url('https://t4.ftcdn.net/jpg/06/30/76/11/360_F_630761173_Hkeqf7J3DYfICjQQaMkTiSpCOK7XOq1q.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logoimg {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    vertical-align: middle;
    padding: 5px;
}

#navbar a {
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.637);
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 20px 20px 0 0;
    font-size: 18px;
    color: #555;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: #333;
}

#timetable-content {
    background-color: rgba(255, 255, 255, 0.514);
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table,
th,
tr,
td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border: #333 5px solid;

}

table,
tb {
    width: 100%;
    font-size: 15px;
    color: black;
}

table td:hover,
th:hover {
    background-color: rgba(200, 200, 200, 0.703);
    color: rgb(17, 0, 255);
}
